/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(218.57deg 25.93% 10.59%);
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}
.dp-none {
  display: none;
}
.dp-none-line {
  display: none;
}
/* container */
.container {
  display: flex;
  height: calc(100vh - 120px);
  padding: 0px;
}

/* top sidebar */

.top-items {
  color: white;

  list-style-type: none;
}

.top-items > li {
  width: 50%;
  font-size: xx-large;

  margin: 0 auto;
  line-height: 50px;
}

/* playlist*/
.container-playlist {
  color: white;
  display: flex;
  flex-direction: column;
}
.title-playlist {
  padding-bottom: 10px;
  font-size: 1.5rem;
  padding-left: 20px;
}

.crea-playlist > p {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.list-playlist {
  color: white;
  padding-left: 20px;
  list-style-type: none;
  line-height: 30px;
  font-size: 1.3rem;
}
.list-playlist > ul {
  list-style-type: none;
}

/* low sidebar */

.low-items {
  color: white;

  list-style-type: none;
  padding-top: 363px;
}
.low-items > li {
  width: 50%;
  font-size: xx-large;

  margin: 0 auto;
  line-height: 50px;
}

.sidebar {
  background-color: black;
  width: 60px;
  height: 814px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */
.header {
  background-color: #2e2e2e;
  height: 80px;
  width: 100%;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
}

.main-content {
  display: flex;
  background-color: #1c1c2c;
  flex: 1 1 100%;
}

.footer {
  background-color: #2e2e2e;
  height: 150px;
  width: 100vw;
}

/* media query */
@media screen and (min-width: 576px) {
  .sidebar {
    width: 300px;
  }
  .main-section {
    width: calc(100% -300px);
  }
  span.spotify.dp-none {
    font-size: 2.5rem;
    padding-left: 7px;
  }
  .fa-spotify {
    font-size: 3rem;
    padding-top: 10px;
  }
  .dp-none {
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 10px;
  }
  .top-items > li {
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  .low-items > li {
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  .low-items {
    padding: 0px;
  }
  .top-items > li:nth-child(2) {
    border-left: 3px solid lime;
  }
  .dp-none-line {
    display: block;
  }
  .fa-regular {
    font-size: large;
  }
  .installa.dp-none {
    font-size: large;
  }
  .fa-regular.fa-circle-user {
    font-size: larger;
  }
}

@media screen and(min-width: 768px) {
  .dp-none {
    display: inline-block;
  }
}

@media screen and(min-width: 992px);
